*{
    color:#000000;
    text-decoration: none;

    font-family: 'Times New Roman';
    
  }




  
.head{
  width: 1920px;
}

.body {
  background: rgb(240, 240, 240);
  margin:0;
  width:1920px;

}






  
  .header{
    
    width: 100%;
    height:100%;
    background-color: (243,243,243);
    list-style-type: none;
    outline-style: dashed;
  }

  .section{
    
    width: 1100px;
    height: 70px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    background-color: transparent;

    outline-style: dashed;

  }
  









  .logo{
    color:#000000;
    font-size:24px;
    flex: 1;


  }
  





  .navi{
    margin-top: 4px;
    flex:4;

  }
  
  .navi ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
  }
  
  .navi ul li{
    margin: 0px 10px;
  }
  


  .user{
    flex: 1.5;
    text-align: center;


  }
  
  .user ul{
    list-style-type: none;
    display: flex;
    justify-content : right;
  }
  
  .user ul li{
    font-size:24px;
    flex: 1;
    margin-right: 5px;
  }