


h1 {
    font-family: 'Times New Roman';
    color: white;
    font-size: 75px;}

h3 {
    font-family :sans-serif;
    color: white;
    font-size: 20px;

}




  .container {
    font-family: arial;
    text-align: center;
    font-size: 24px;
    margin: 25px;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    outline-style: dashed;
    
    

  }

  
  .container2 {

    text-align: center;
    font-size: 24px;
    width: 800px;
    height: 200px;

    margin: 0 auto;
    display : flex;
    

  }

  a {
    color: rgb(0, 0, 0);


    vertical-align: middle;
    font-size: 20px;
  }


  .a_header{
    color: rgb(0, 0, 0);
    margin : 10px;
    font-size: 15px;

  }

  .a_tab{
    color: rgb(255, 255, 255);

  }

  



  .a_cpuname{
    font-size: 45px;

  }

  .a_infotext{
    font-size: 20px;
  }

  .infos {
    margin : 12px;
    background-color: #0004ff;
    margin-left:20px;
    

  }
  

  
  .child {
    flex:1;
    margin : 0 auto;

    width:30%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align : center;
    
  }


  .child2 {
    flex:1;
    margin : 0 auto;

    width: 60%;
    box-sizing: border-box;
    text-align : center;
    
    
  }

  footer {
    text-align: center;
  }


  .innerbox{
    display:flex;
  }

  .tables{
    display : flex;
    justify-content: flex-start;
    color:red;
    

  }


  .chart {

    width : 500px;
    height: 500px;
    outline-style: dashed;
    margin : 35px;
    margin-left : 50px;
   }

   .imgclass {
    width : 100%;
    height : 100%;

   }

   

  .container_tables1 {
    margin-left : 30px;
    color: cyan;
    padding : 10px;
    width : 180px;
    background-color: #ffffff;
    height : 540px;
    margin-top : 15px;
  }

  .container_tables2 {
    margin-left : 20px;
    color: #000000;
    padding : 10px;
    width : 270px;
    background-color: #ffffff;
    height : 540px;
    margin-top : 15px;

  }



  .table1 {
    color: #000000;
    padding : 10px;
    width : 180px;
    background-color: #ffffff;
    text-align:left ;
    outline-style: dotted;
    height : 50px;

  }

  .table2 {
    color: rgb(240, 0, 0);
    padding : 10px;
    width : 240px;
    background-color: #ffffff;
    text-align:left ;
    outline-style: dotted;
    height : 50px;
   

  }





  .container_list {
    font-family: arial;
    text-align: center;
    font-size: 24px;
    margin: 25px;
    width: 1100px;
    height: 750px;
    padding-top : 24px;
    margin: 0 auto;
    flex-direction: column;
    color: white;
    background-color: rgb(233, 233, 233);
    margin-top : 30px;
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
  }

  .cpu_name {
    font-size: 56px;
    color: #000000;
    text-align: left;
    margin-top: 10px;
    font-size:36px;
    margin-left: 50px;
    list-style-type: none;
    outline-style: dotted;
    

  }






  

  *{
    color:#000;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    
  }
  


  





  .info2{
    
    width: 1100px;
    height: 10%;
    
    margin: 0 auto;
    position: relative;
    display:flex;
    justify-content: space-between;
    background-color: #ffffff;
    text-align: right;
    
  }
  







  .spec{
    margin-top: 4px;
    flex:6;
    background-color: transparent;
    margin-left:80px;
    outline-style: dotted;
  }
  
  .spec ul{
    
    list-style-type: none;
    display: flex;
    justify-content: left;
  }
  
  .spec ul li{

    font-size: 20px;
    margin: 0px 50px;
  }
  


  .manf {
    flex: 0.8;
    outline-style: dotted;
  }
  
  .manf ul{
    list-style-type: none;
    display: flex;
    justify-content :center
  }
  
  .manf ul li{
    font-size:24px;
    flex: 1;
    margin-right: 5px;
  }



