/* 전체 페이지 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffafaf;
}
h1 {
    color: #ff8080;
    text-align: center;
    margin-top: 50px;
}
/* 로그인 관련 메시지 스타일 */
p {
    text-align: center;
    margin-top: 20px;
    color: hwb(0 76% 0%);
}
a {
    color: #0077cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 30px 0;
}